<h3>Add Country</h3>
<form [formGroup]="countryForm" (ngSubmit)="onFormSubmit()">
    <p>Name:<input formControlName="name"></p>
      <label *ngIf="countryForm.get('name')?.invalid && countryForm.get('name')?.touched" class="error"> Name is required</label>
   
    <p>Capital:<input formControlName="capital"></p>
 <label *ngIf="countryForm.get('capital')?.invalid && countryForm.get('capital')?.touched" class="error">capital is required</label>
    <p>Currency:<input formControlName="currency">    </p>
    
      <label *ngIf="countryForm.get('currency')?.invalid && countryForm.get('currency')?.touched" class="error">currency is required</label>

    <p><button  [disabled]="countryForm.invalid" >submit</button></p>
    <p><button (click)="$event.preventDefault();updatedata()" *ngIf="(displaydata$ )?.length>0">Update</button></p>
</form>
<div *ngIf="(displaydata$ )?.length>0">
<table >
    <tr>
      <th>Name</th>
      <th>Capital</th>
      <th>Currency</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let data of displaydata$">
      <td>{{data.name}}</td>
      <td>{{data.capital}}</td>
      <td>{{data.currency}}</td>
      <button type="button" (click)="deletedata(data.id)"  *ngIf="(displaydata$ )?.length>0">delete data</button>
      <button type="button" (click)="loadCountryEdit(data.id)"  *ngIf="(displaydata$ )?.length>0">Edit data</button>
    </tr>
  </table>

</div>
